<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" value="{{ csrf_token }}">
    {% if title === undefined %}
      {% set title = "Undangan Pernikahan" %}
    {% endif %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% block cssPath %}{% endblock %}">
    <link rel="icon" href="{{ url }}/favicon.ico" />
  </head>
  <body>
    <div class="layout-cover">
      <div class="wrapper">
        <div class="separator">
          <div class="main-img">
            <div id="particles-js"></div>
          </div>

          <div class="main-title">
            <div class="top-title">
              <span
                class="wedding-title signature-font animated-title"
                style="text-align: center; line-height: 100px;"
              >
                Undangan Pernikahan
              </span>
            </div>
            <div class="bottom-title">
              <button class="wedding-open animated-title" style="opacity: 0;">
                BUKA UNDANGAN
              </button>
              <span class="title-head animated-title">02 JULI 2023</span>
            </div>
          </div>

          {% if useMusic %}
            <a target="_self" class="music-control add-shadow off" style="cursor: pointer;">
              <img src="{{ url }}/img/5y6RfR9dpR043awCuBiXCRXIo2S7DM8SzUbuHYoVkEw=.svg" class="sound-on" alt="icon-sound">
              <img src="{{ url }}/img/jwgNsdVvbg2RP30YnTyLO4GWPdl053yOVDxnJSxvYCA=.svg" class="sound-off" alt="icon-sound-off">
            </a>
            <audio id="background_music" loop="loop" src="{{ url }}/pg3UKx.mp3"></audio>
          {% endif %}

          <div id="pay" class="float">
            <a id="pay-button" href="#" target="_self" class="pay-btn add-shadow">
              <img src="{{ url }}/img/icon-pay.svg" alt="icon-pay" />
            </a>
          </div>

          <div class="desktop-bar add-shadow">
            <div class="wrapper-bar w-100">
              <ul class="padding-bar">
                <li>
                  <a id="date-button" class="bar-icon icon-date">
                    <img src="{{ url }}/img/icon-date.svg" class="img-off" alt="icon-date-off" />
                    <img src="{{ url }}/img/icon-date-active.svg" class="img-active" alt="icon-date-active" />
                  </a>
                </li>
                <li>
                  <a id="bride-button" class="bar-icon icon-bride">
                    <img src="{{ url }}/img/icon-bride.svg" class="img-off" alt="icon-bride-off" />
                    <img src="{{ url }}/img/icon-bride-active.svg" class="img-active" alt="icon-bride-active" />
                  </a>
                </li>
                <li>
                  <a class="maps-button bar-icon icon-location">
                    <img src="{{ url }}/img/icon-location.svg" class="img-off" alt="icon-location-off" />
                    <img src="{{ url }}/img/icon-location-active.svg" class="img-active" alt="icon-location-active" />
                  </a>
                </li>
                <li>
                  <a id="instagram-button" class="bar-icon icon-instagram">
                    <img src="{{ url }}/img/icon-instagram.svg" class="img-off" alt="icon-instagram-off" />
                    <img src="{{ url }}/img/icon-instagram-active.svg" class="img-active" alt="icon-instagram-active" />
                  </a>
                </li>
                <li>
                  <a id="message-button" class="bar-icon icon-message">
                    <img src="{{ url }}/img/icon-message.svg" class="img-off" alt="icon-message-off" />
                    <img src="{{ url }}/img/icon-message-active.svg" class="img-active" alt="icon-message-active" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="mobile-separator" id="mobile-scroll">
          <div class="welcome">
            <img src="{{ url }}/img/mobile-img.jpg" style="width: 100%;" />

            <div class="content">
              <img src="{{ url }}/img/content-top.svg" class="background-top" alt="content-top" />
              <div class="content-data">
                <img src="{{ url }}/img/scrolls.svg" class="scroll-up-down" alt="scrolls" />
                <span class="title-content gs_reveal" style="font-size: 15px;">
                  OFFICIALLY MENGUNDANG
                </span>
                <span class="title-content signature-font mobile-title gs_reveal gs_reveal_fromLeft">
                  Anda dan Partner
                </span>
                <span class="title-content gs_reveal" style="font-weight: 700; font-size: 24px;">
                  02 JULI 2023 {# <sup class="pangkat">ND</sup> 2023 #}</span>
                <a
                  href="https://calendar.google.com/calendar/u/0/r/eventedit/MDc3amVqdnZkNTQya2RqbzNscG92NDk4MnMgYWE2ZjcxYzk4OTc1ZWU0MDYzZGY0OGVjMWJkYzdlNWUzYTYyMjVlYTYyOWIzZTM4M2VkM2IwNzBjMzMwMDJlYUBn"
                  target="_blank"
                  class="save-date gs_reveal gs_reveal_fromLeft"
                >
                  SAVE THE DATE
                </a>
                <div id="countdown" class="gs_reveal">
                  <ul class="countdown-list">
                    <li>
                      <div class="box-number">
                        <span id="days"></span>
                      </div>
                      <div class="mt-1 font-countdown">DAYS</div>
                    </li>
                    <li class="number-separator">:</li>
                    <li>
                      <div class="box-number">
                        <span id="hours"></span>
                      </div>
                      <div class="mt-1 font-countdown">HOURS</div>
                    </li>
                    <li class="number-separator">:</li>
                    <li>
                      <div class="box-number">
                        <span id="minutes"></span>
                      </div>
                      <div class="mt-1 font-countdown">MINUTES</div>
                    </li>
                    <li class="number-separator">:</li>
                    <li>
                      <div class="box-number">
                        <span id="seconds"></span>
                      </div>
                      <div class="mt-1 font-countdown">SECONDS</div>
                    </li>
                  </ul>
                </div>
                <div id="wedding-done" class="gs_reveal">
                  <span class="title-content signature-font mobile-title">
                    Acara Telah Usai
                  </span>
                </div>
                <div id="wedding-running" class="gs_reveal">
                  <span class="title-content signature-font mobile-title">
                    Sekarang
                  </span>
                </div>
                <div class="leaf-flying">
                  <img src="{{ url }}/img/leaf.svg" class="img-right" alt="leaf-right" />
                </div>
                <div class="leaf-flying">
                  <img src="{{ url }}/img/leaf.svg" class="img-left" alt="leaf-left" />
                </div>
              </div>
            </div>

            <div class="end-content">
              <img src="{{ url }}/img/content-top.svg" style="width: 100%;" alt="content-top" />
            </div>

            <div class="quran">
              {# <img src="{{ url }}/img/border.svg" class="gs_reveal gs_reveal_fromRight" alt="border-top" /> #}
              <div class="quran-title gs_reveal">
                <p class="content-quran">
                  "Dan Diantara tanda-tanda kebesaran-Nya ialah diciptakan-Nya untukmu pasangan hidup dari jenismu sendiri.
                  <br>
                  Supaya kamu mendapatkan ketenangan hati.
                  <br>
                  Dan dijadikan-Nya kasih sayang diantara kamu.
                  <br>
                  Sesungguhnya yang demikian itu menjadi tanda-tanda
                  <br>
                  kebesaran-Nya bagi orang-orang yang berfikir"
                </p>
                <p class="content-quran" style="margin-top: 10px;">
                  (QS. Ar-Ruum: 21)
                </p>
              </div>
              {# <img src="{{ url }}/img/border.svg" class="gs_reveal gs_reveal_fromLeft" style="transform: rotate(180deg);" alt="border-down" /> #}
            </div>

            <div class="content" style="margin-top: -120px;">
              <img src="{{ url }}/img/content-top.svg" class="background-bot" alt="content-top" />

              <div class="content-data">
                <div id="date-id" class="block-detail">
                  <div class="quran-greeting gs_reveal">
                    <p>بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ</p>
                    <p>
                      اَلسَّلَامُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَا تُهُ
                    </p>
                  </div>
                  <div class="quran-title gs_reveal">
                    <p class="font-basic">
                      Dengan memohon rahmat dan ridho Allah SWT, serta mengucap
                      rasa syukur atas karunia Allah SWT, Kami hendak
                      menyampaikan kabar bahagia pernikahan Kami serta Marhabah
                      & Aqiqah. Yang Insya Allah akan dilaksanakan :
                    </p>
                  </div>
                  <div class="wedding-name">
                    <span class="title-section signature-font gs_reveal gs_reveal_fromRight">
                      Akad Nikah
                    </span>
                    <span class="title-content dilanjut-dengan gs_reveal">
                      DILANJUT DENGAN
                    </span>
                    <span class="title-section signature-font gs_reveal gs_reveal_fromLeft">
                      Marhabah dan Aqiqah
                    </span>
                  </div>
                  <div class="wedding-time">
                    <span class="time-title gs_reveal">
                      MINGGU, 02 JULI 2023
                    </span>
                    <span class="time-title gs_reveal"> 08:00 - SELESAI </span>
                  </div>
                  <div class="wedding-bottom">
                    <span class="address-section gs_reveal"> MASJID NURHIDAYAH </span>
                    <span class="address-section font-basic gs_reveal">
                      Jln Demang Lebar Daun Kec. Ilir Barat 1 , Kota Palembang,
                      Sumatera Selatan 30137
                    </span>
                    <a class="maps-button address-section location gs_reveal" style="cursor: pointer;">
                      LIHAT LOKASI
                    </a>
                    <span class="address-section font-basic gs_reveal">
                      Atas kehadiran dan do'a restunya kami mengucapkan terima
                      kasih
                    </span>
                  </div>
                  <div class="doa-awal gs_reveal">
                    <p>
                      وَالسَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ
                    </p>
                  </div>
                </div>
                <div id="bride-id" class="leaves gs_reveal">
                  <img src="{{ url }}/img/leaves.svg" class="w-100" alt="leaves" />
                </div>
                <div class="block-profile">
                  <div class="profile-nickname mt-3 gs_reveal">
                    <span class="bride-name signature-font">Fitri</span>
                  </div>
                  <div class="profile-picture gs_reveal gs_reveal_fromRight">
                    <img src="{{ url }}/img/profile-bride.png" class="picture-rounded" style="border: 2px solid #ffffff; border-radius: 100%;" alt="profile-bride" />
                  </div>
                  <div class="profile-name mt-1 gs_reveal">
                    <span class="title-content nama-lengkap">
                      FITRI, S.Sos.
                    </span>
                  </div>
                  <a
                    href="https://www.instagram.com/beyshalayla/"
                    target="_blank"
                    class="profile-instagram-white mt-1 btn-instagram-white gs_reveal"
                  >
                    <img src="{{ url }}/img/icon-instagram-white.svg" alt="icon-instagram-white" />
                    <span style="margin-left: 10px;">beyshalayla</span>
                  </a>
                  <div class="family-detail gs_reveal">
                    <p class="font-basic">PUTRI KEDUA DARI</p>
                    <p class="font-basic">BAPAK DRS. DJUNAIDI ZAINI</p>
                    <p class="font-basic">&</p>
                    <p class="font-basic">IBU SUSILAWATI</p>
                  </div>
                  <div class="leaf-flying gs_reveal gs_reveal_fromRight">
                    <img src="{{ url }}/img/leaf-profile-right.svg" class="img-right-profile" alt="leaf-profile-right" />
                  </div>
                  <div class="leaf-flying gs_reveal gs_reveal_fromLeft">
                    <img src="{{ url }}/img/leaf-profile-left.svg" class="img-left-profile" alt="leaf-profile-left" />
                  </div>
                </div>
                <div class="mt-3">
                  <img src="{{ url }}/img/and.svg" alt="and" />
                </div>
                <div class="block-profile">
                  <div class="profile-nickname mt-3 gs_reveal">
                    <span class="bride-name signature-font">Angga</span>
                  </div>
                  <div class="profile-picture gs_reveal gs_reveal_fromLeft">
                    <img src="{{ url }}/img/profile-groom.png" class="picture-rounded" style="border: 2px solid #ffffff; border-radius: 100%;" alt="profile-groom" />
                  </div>
                  <div class="profile-name mt-1 gs_reveal">
                    <span class="title-content nama-lengkap">
                      ANGGA FIRMANSYAH
                    </span>
                  </div>
                  <a
                    href="https://www.instagram.com/fiqihwew/"
                    target="_blank"
                    class="profile-instagram-white mt-1 btn-instagram-white gs_reveal"
                  >
                    <img src="{{ url }}/img/icon-instagram-white.svg" alt="icon-instagram-white" />
                    <span style="margin-left: 10px;">fiqihwew</span>
                  </a>
                  <div class="family-detail gs_reveal">
                    <p class="font-basic">PUTRA KEDUA DARI</p>
                    <p class="font-basic">BAPAK FAISAL MURODI</p>
                    <p class="font-basic">&</p>
                    <p class="font-basic">IBU DIANA ARTATI</p>
                  </div>
                  <div class="leaf-flying gs_reveal gs_reveal_fromRight">
                    <img
                      src="{{ url }}/img/leaf-profile-kb.svg"
                      class="img-kb-profile"
                      alt="leaf-profile-kb" />
                  </div>
                </div>
                <div class="leaves gs_reveal">
                  <img src="{{ url }}/img/leaves.svg" class="w-100" alt="leaves" />
                </div>
                <div class="block-profile">
                  <div class="profile-name mt-1 gs_reveal">
                    <span class="title-content nama-lengkap">
                      MARHABAH DAN AQIQAH
                    </span>
                  </div>
                  <div class="profile-nickname mt-3 gs_reveal">
                    <span class="bride-name signature-font">Fino</span>
                  </div>
                  <div class="profile-picture gs_reveal gs_reveal_fromLeft">
                    <img src="{{ url }}/img/baby.png" class="picture-rounded" style="border: 2px solid #ffffff; border-radius: 100%;" alt="baby" />
                  </div>
                  <div class="profile-name mt-1 gs_reveal">
                    <span class="title-content nama-lengkap">
                      ALFINO ZAYN ACHMAD
                    </span>
                  </div>
                  <a
                    href="https://www.instagram.com/fiqihwew"
                    target="_blank"
                    class="profile-instagram-white mt-1 btn-instagram-white gs_reveal"
                  >
                    <img src="{{ url }}/img/icon-instagram-white.svg" alt="icon-instagram-white" />
                    <span style="margin-left: 10px;">fiqihwew</span>
                  </a>
                  <div class="family-detail gs_reveal">
                    <p class="font-basic">PUTRA PERTAMA DARI</p>
                    <p class="font-basic">BAPAK ADAM SAHILI S.Pd</p>
                    <p class="font-basic">&</p>
                    <p class="font-basic">IBU ANIMINASUKA S.Pd</p>
                  </div>
                  <div class="leaf-flying gs_reveal gs_reveal_fromRight">
                    <img src="{{ url }}/img/leaf-profile-kb.svg" class="img-kb-profile" alt="leaf-profile-kb" />
                  </div>
                </div>
              </div>
            </div>

            <div class="end-content">
              <img src="{{ url }}/img/content-top.svg" class="top-location" alt="content-top" />
            </div>

            <div id="maps-id" class="w-100 gs_reveal" style="padding-top: 25px;">
              {# <img src="{{ url }}/img/img-down.jpg" class="w-100" alt="img-down" /> #}
              <p class="title-section signature-font font-black gs_reveal gs_reveal_fromRight" style="text-align: center;">
                Tempat Acara
              </p>
            </div>

            <div class="google-maps gs_reveal gs_reveal_fromRight">
              <div class="cover-maps">
                <div class="mapouter">
                  <div class="gmap_canvas">
                    <iframe
                      id="gmap_canvas"
                      src="https://maps.google.com/maps?q=masjid%20nurhidayah%20palembang&t=&z=13&ie=UTF8&iwloc=&output=embed"
                      width="376"
                      height="400"
                      frameborder="0"
                      scrolling="no"
                      marginheight="0"
                      marginwidth="0"
                    ></iframe>
                    <br />
                    <style>
                      .mapouter {
                        position: relative;
                        text-align: right;
                        height: 400px;
                        width: 376px;
                      }
                    </style>
                    <a href="https://www.embedgooglemap.net">
                      google maps embed iframe generator
                    </a>
                    <style>
                      .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 400px;
                        width: 376px;
                      }
                    </style>
                  </div>
                </div>
              </div>

              <span class="font-basic font-black mt-2 gs_reveal" style="font-weight: 600;">
                Jl. Demang Lebar Daun, Demang Lebar Daun, Kec. Ilir Bar. I, Kota
                Palembang, Sumatera Selatan 30137
              </span>

              <a
                href="https://goo.gl/maps/6SUxY1KZw3ZHRoKR7"
                target="_blank"
                class="btn-white gs_reveal"
                style="text-align: center"
              >
                SEE LOCATION
              </a>
            </div>

            <div id="instagram-id" class="content">
              <img src="{{ url }}/img/content-top.svg" style="width: 100%;" alt="content-top" />
              <div class="content-data">
                <span class="title-section signature-font gs_reveal gs_reveal_fromRight" style="padding-top: 3rem;">
                  Live Streaming
                </span>
                <span class="title-content find-instagram gs_reveal">
                  FIND OUR WEDDING VIRTUALLY ON INSTAGRAM
                </span>
                <a
                  href="https://www.instagram.com/fitridjunaidizaini"
                  target="_blank"
                  class="btn-white gs_reveal"
                  style="text-align: center;"
                >
                  <img src="{{ url }}/img/record.svg" alt="watch streaming" />
                  <span style="margin-left: 10px;">WATCH STREAMING</span>
                </a>
                <div class="leaves mt-3 gs_reveal">
                  <img src="{{ url }}/img/leaves.svg" class="w-100" alt="leaves" />
                </div>
                {#
                <span class="title-section signature-font gs_reveal gs_reveal_fromLeft">
                  Instagram Effect
                </span>
                <span class="title-content find-instagram gs_reveal">
                  SHARE YOUR MOMENT WITH OUR INSTAGRAM EFFECT
                </span>
                <div class="instagram-effects slider gs_reveal gs_reveal_fromLeft">
                  <div class="block-image">
                    <div class="images-place w-100">
                      <img src="{{ url }}/img/instagrams/slide-1.png" class="w-100" alt="instagrams-slide-1" />
                    </div>
                    <div class="btn-place w-100" style="margin-top: 1rem;">
                      <a
                        href="https://www.instagram.com/ar/464044251841434/"
                        target="_blank"
                        class="btn-white"
                        style="text-align: center;"
                      >
                        TRY NOW
                      </a>
                    </div>
                  </div>
                  <div class="block-image">
                    <div class="images-place w-100">
                      <img src="{{ url }}/img/instagrams/slide-2.png" class="w-100" alt="instagrams-slide-2" />
                    </div>
                    <div class="btn-place w-100" style="margin-top: 1rem;">
                      <a
                        href="https://www.instagram.com/ar/5698919336826504/"
                        target="_blank"
                        class="btn-white"
                        style="text-align: center;"
                      >
                        TRY NOW
                      </a>
                    </div>
                  </div>
                  <div class="block-image">
                    <div class="images-place w-100">
                      <img src="{{ url }}/img/instagrams/slide-3.png" class="w-100" alt="instagrams-slide-3" />
                    </div>
                    <div class="btn-place w-100" style="margin-top: 1rem;">
                      <a
                        href="https://www.instagram.com/ar/1155589031839197/"
                        target="_blank"
                        class="btn-white"
                        style="text-align: center;"
                      >
                        TRY NOW
                      </a>
                    </div>
                  </div>
                </div>
                #}
              </div>
            </div>

            <div class="end-content">
              <img src="{{ url }}/img/content-top.svg" style="width: 100%;" alt="content-top" />
            </div>

            <div id="message-id" class="block-message mt-2">
              <span class="title-section signature-font font-black gs_reveal gs_reveal_fromRight">
                Kirim Doa
              </span>
              <div class="form-data font-black">
                <div class="w-100">
                  <div class="form-wrap mt-2 gs_reveal">
                    <div class="label">NAMA</div>
                    <div class="input-form">
                      <input
                        type="text"
                        class="w-100 input-t"
                        id="nama"
                        name="nama"
                        placeholder="Nama Anda"
                        value="Anda dan Partner"
                        required />
                    </div>
                  </div>
                  <div class="form-wrap mt-2 gs_reveal">
                    <div class="label">LOKASI</div>
                    <div class="input-form">
                      <input
                        type="text"
                        class="w-100 input-t"
                        id="lokasi"
                        name="lokasi"
                        placeholder="Asal Daerah"
                        required />
                    </div>
                  </div>
                  <div class="form-wrap mt-2 gs_reveal">
                    <div class="label">KEHADIRAN</div>
                    <div class="input-form">
                      <div class="wrap-radio">
                        <input
                          type="radio"
                          class="specifyColor"
                          id="hadir"
                          name="kehadiran"
                          value="hadir"
                          style="color: #575757;"
                          required />
                        <label class="btn-click" for="hadir">Hadir</label>
                      </div>
                      <div class="wrap-radio">
                        <input
                          type="radio"
                          class="specifyColor"
                          id="mungkin-hadir"
                          name="kehadiran"
                          value="mungkin-hadir"
                          required />
                        <label class="btn-click" for="mungkin-hadir"
                          >Mungkin Hadir</label
                        >
                      </div>
                      <div class="wrap-radio">
                        <input
                          type="radio"
                          class="specifyColor"
                          id="tidak-hadir"
                          name="kehadiran"
                          value="tidak-hadir"
                          required />
                        <label class="btn-click" for="tidak-hadir"
                          >Tidak Hadir</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-wrap mt-2 gs_reveal">
                    <div class="label">UCAPAN & DOA</div>
                    <div class="input-form">
                      <textarea
                        type="text"
                        class="w-100 input-t"
                        id="ucapan"
                        name="ucapan"
                        rows="8"
                        placeholder="Ucapan Doa & Harapan"
                        required
                      ></textarea>
                    </div>
                  </div>
                  <button
                    type="button"
                    id="submit"
                    name="submit"
                    value="Submit"
                    class="btn-send gs_reveal"
                  >
                    <span class="button__text">SEND MESSAGE</span>
                  </button>
                </div>

                <div id="block-message" class="block-data-message gs_reveal gs_reveal_fromLeft mt-3"></div>
              </div>
            </div>

            {#
            <div class="last-img w-100 gs_reveal">
              <img src="{{ url }}/img/img-wedding.svg" alt="img-wedding" />
            </div>
            #}

            <div class="last-img w-100 gs_reveal">
              <img src="{{ url }}/img/img-end.svg" class="w-100" alt="img-end" />
            </div>
          </div>
        </div>
      </div>
      <div id="ohsnap"></div>
    </div>

    {# DIGITAL ENVELOPE #}
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <header id="close-01" class="w3-container">
          <span class="w3-button w3-display-topright">&times;</span>

          <h2 class="modal-h aniModal">DIGITAL ENVELOPE</h2>
        </header>

        <div class="w3-container">
          <p class="font-digital aniModal" style="color: #000000; width: 100%;">
            Sekarang amplopmu bisa tersampaikan secara digital dan dapat
            transfer langsung ke rekening:
          </p>

          <div class="choosen-bank">
            <div class="bank-img aniModal">
              <img src="{{ url }}/img/bank/bca.png" alt="bca" />
            </div>
            <div class="bank-detail">
              <span class="title aniModal"> BCA </span>
              <span class="bank-title aniModal">
                3410637811 <img src="{{ url }}/img/copy.png" alt="copy" />
              </span>
              <span class="bank-name aniModal"> a/n Fitri </span>
            </div>
          </div>

          {#
          <div class="choosen-bank">
            <div class="bank-img aniModal">
              <img src="{{ url }}/img/bank/bca.png" alt="bca" />
            </div>
            <div class="bank-detail">
              <span class="title aniModal"> BCA </span>
              <span class="bank-title aniModal">
                1671270172 <img src="{{ url }}/img/copy.png" alt="copy" />
              </span>
              <span class="bank-name aniModal"> a/n Angga Firmansyah </span>
            </div>
          </div>
          <div class="choosen-bank">
            <div class="bank-img aniModal">
              <img src="{{ url }}/img/bank/mandiri.png" alt="mandiri" />
            </div>
            <div class="bank-detail aniModal">
              <span class="title"> MANDIRI </span>
              <span class="bank-title">
                1170010228625 <img src="{{ url }}/img/copy.png" alt="copy" />
              </span>
              <span class="bank-name"> a/n Ahmad Fiqih </span>
            </div>
          </div>
          <div class="choosen-bank">
            <div class="bank-img aniModal">
              <img src="{{ url }}/img/bank/bsi.png" alt="bsi" />
            </div>
            <div class="bank-detail aniModal">
              <span class="title"> BSI </span>
              <span class="bank-title">
                7982942960 <img src="{{ url }}/img/copy.png" alt="copy" />
              </span>

              <span class="bank-name"> a/n Ahmad Fiqih </span>
            </div>
          </div>
          #}
        </div>
      </div>
    </div>
    {# /.DIGITAL ENVELOPE #}

    {# PROTOKOL KESEHATAN (COVID-19) #}
    <div id="id02" class="w3-modal">
      <div class="w3-modal-content text-modal-center">
        <header class="w3-container">
          <h2 class="modal-h aniModal">PROTOKOL KESEHATAN (COVID-19)</h2>
        </header>

        <div class="w3-container">
          <p class="font-digital aniModal" style="color: #000000; width: 100%;">
            Demi mendukung kesehatan bersama alangkah baiknya para tamu yang
            akan hadir memenuhi protokol kesehatan sebagai berikut:
          </p>

          <div class="img-save aniModal">
            <img src="{{ url }}/img/distance.png" style="width: 80%;" alt="distance" />
          </div>

          <button
            id="okay"
            class="btn-send aniModal"
            style="margin-bottom: 1rem;"
          >
            Okay, I Understand
          </button>
        </div>
      </div>
    </div>
    {# /.PROTOKOL KESEHATAN (COVID-19) #}

    <script>
      const viewData = {{ {
        date: date
      } | json }}
    </script>
    <script src="{{ url }}/build/jquery.min.js"></script>
    <script src="{{ url }}/build/ohsnap.js"></script>
    <script src="{% block jsPath %}{% endblock %}""></script>
  </body>
</html>