Kepada Yth.
Bapak/Ibu/Saudara/i
*{{ guest_name|safe }}*

بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
اَلسَّلَامُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَا تُهُ

Tanpa mengurangi rasa hormat, izinkan kami mengundang Bapak/Ibu/Saudara/i sekalian untuk dapat menghadiri acara pernikahan kami:

*{{ view_data.bride.fullname|safe }} & {{ view_data.groom.fullname|safe }}*

Silahkan klik link berikut ini untuk informasi detail acara:
{{ url }}

Merupakan suatu kebahagiaan bagi kami apabila Bapak/Ibu/Saudara/i berkenan hadir dan memberikan do'a restu.

Atas kehadiran dan doa restu yang diberikan, kami ucapkan terima kasih.

وَالسَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ

Hormat kami,
*{{ view_data.bride.nickname|safe }} & {{ view_data.groom.nickname|safe }}*
