@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "LPMQ";
  src: url("https://kangismet.github.io/fonts/lpmq.eot");
  src:
    url("https://kangismet.github.io/fonts/lpmq.eot?#iefix")
      format("embedded-opentype"),
    url("https://kangismet.github.io/fonts/lpmq.ttf") format("truetype");
  font-weight: 400;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "NewYork";
  src: url("../../../font/NewYork.otf") format("opentype");
}
@font-face {
  font-family: "Qagetto";
  src:
    url("../../../font/qagetto-serif-font/qagetto.otf") format("opentype"),
    url("../../../font/qagetto-serif-font/qagetto.ttf") format("truetype");
}
@font-face {
  font-family: "Signature";
  src: url("../../../font/tropical_summer_signature-webfont.woff2")
    format("woff2");
}

html,
body {
  font-family: sans-serif;
  background-color: #ffffff !important;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;
  color: #ffffff;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
  transition: all 0.3s ease;
}

.lora-font {
  font-family: "Lora", Sans-serif !important;
}

.newyork-font {
  font-family: "NewYork", Sans-serif !important;
}

.qagetto-font {
  font-family: "Qagetto", Sans-serif !important;
}

.signature-font {
  font-family: "Signature" !important;
}

.arab-font {
  font-family: LPMQ, "Traditional Arabic", Tahoma, sans-serif !important;
  direction: rtl !important;
  letter-spacing: 0 !important;
}

.mobile-title {
  font-size: 60px;
  font-weight: 600 !important;
  line-height: 85.7px;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.separator {
  position: relative;
  width: 100%;
}

.main-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.desktop-bar {
  position: absolute;
  width: auto;
  padding: 0;
  left: auto;
  right: 20px;
  bottom: 40%;
  z-index: 2;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232741;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../../../img/main-img.jpg");
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.wrapper-bar {
  background: #ffffff;
  padding: 10px;
  border-radius: 100px;
  display: inline-block;
}

.wrapper-bar ul {
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
}

.wrapper-bar ul li {
  display: inline;
}

.wrapper-bar ul li a {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  text-decoration: none;
  color: #6d6d6d;
  font-size: 10px;
  border-radius: 100%;
  cursor: pointer;
}

.bar-icon {
  padding: 7px;
  border-radius: 100%;
}

a.bar-icon:hover {
  background: #a5cbcc;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.img-active {
  display: none;
}

.icon-date.active {
  background-color: #7d9a9b;
  width: 40px;
  height: 40px;
}

.icon-date.active > .img-off {
  display: none;
}

.icon-date.active > .img-active {
  display: block;
}

.icon-bride.active {
  background-color: #7d9a9b;
  width: 40px;
  height: 40px;
}

.icon-bride.active > .img-off {
  display: none;
}

.icon-bride.active > .img-active {
  display: block;
}

.icon-location.active {
  background-color: #7d9a9b;
  width: 40px;
  height: 40px;
}

.icon-location.active > .img-off {
  display: none;
}

.icon-location.active > .img-active {
  display: block;
}

.icon-instagram.active {
  background-color: #7d9a9b;
  width: 40px;
  height: 40px;
}

.icon-instagram.active > .img-off {
  display: none;
}

.icon-instagram.active > .img-active {
  display: block;
}

.icon-gift.active {
  background-color: #7d9a9b;
  width: 40px;
  height: 40px;
}

.icon-gift.active > .img-off {
  display: none;
}

.icon-gift.active > .img-active {
  display: block;
}

.icon-message.active {
  background-color: #7d9a9b;
  width: 40px;
  height: 40px;
}

.icon-message.active > .img-off {
  display: none;
}

.icon-message.active > .img-active {
  display: block;
}

.add-shadow {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.wedding-title {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 11rem;
}

.mobile-separator {
  max-height: 100vh;
  background-color: #f3f5f5;
  width: 60%;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.welcome {
  width: 100%;
  height: 100%;
}

.end-content {
  margin-top: -300px;
  display: flex;
}

.img-down {
  margin-top: -110px;
  z-index: -1;
  width: 100%;
}

.quran {
  text-align: center;
  margin-top: -120px;
  padding: 160px 0 100px 0;
  z-index: -1;
}

.content-quran {
  font-family: "Lora";
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  padding: 0 50px;
}

.quran-title {
  margin: 50px 0;
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.content-data {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  margin-top: -300px;
  padding-bottom: 100px;
  background-color: #7d9a9b;
  z-index: -1;
  text-align: center;
  align-items: center;
}

.leaf-flying {
  z-index: 3;
  position: absolute;
  width: 100%;
  left: 0;
  display: none;
}

.img-right {
  right: 0;
  position: absolute;
  top: 355px;
}

.img-right-profile {
  right: 0;
  position: absolute;
  top: -400px;
}

.img-left-profile {
  left: 0;
  position: absolute;
  top: -100px;
}

.img-kb-profile {
  right: 0;
  position: absolute;
  top: -250px;
}

.img-left {
  left: 0;
  position: absolute;
  top: 355px;
  transform: rotateY(200deg);
}

.google-maps {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 6rem 0;
}

.cover-maps {
  border: 5px solid #ffffff;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.font-black {
  color: #575757 !important;
  text-align: center;
}

.main-title {
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 200px 0px 200px;
  z-index: 2;
}

.bottom-title {
  text-align: center;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
  justify-content: center;
  align-items: center;
}

.pangkat {
  top: -0.7em;
  font-size: 50%;
}

.mt-1 {
  margin: 1rem 0;
}

.full-name {
  font-size: 16px !important;
}

.title-content {
  margin: 1rem 0 1rem 0;
  font-weight: 600;
  line-height: 30px;
  z-index: 1;
}

a.save-date {
  width: 311px;
  margin: 0 0 2rem 0;
  padding: 21px 0;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.15em;
  color: #7d9a9b;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.13));
  text-decoration: none;
  background: #ffffff;
  z-index: 4;
}

a.save-date:hover {
  background: #698182;
  color: #ffffff;
  transition: all 0.3s ease;
}

a.btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 22px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.15em;
  color: #7d9a9b;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.13));
  text-decoration: none;
  background: #ffffff;
}

a.btn-white:hover {
  background: #698182;
  color: #ffffff;
  transition: all 0.3s ease;
}

.instagram-effects {
  z-index: 1;
  width: 100%;
}

.label {
  margin: 10px 0;
}

.input-form {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrap-radio {
  margin-top: 1rem;
}

.btn-click {
  font-weight: 500;
  letter-spacing: normal;
  cursor: pointer;
  position: relative;
  bottom: 0.05rem;
}

.name-message {
  font-family: "Forum";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #575757;
}

.location-name {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #575757;
}

.hadir {
  background: #7d9a9b;
  border-radius: 200px;
  color: #ffffff;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
}

.m-hadir {
  background: #7d9a9b;
  border-radius: 200px;
  color: #ffffff;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
}

.t-hadir {
  background: #7d9a9b;
  border-radius: 200px;
  color: #ffffff;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
}

#pay.float {
  position: absolute;
  z-index: 99;
  right: 20px;
  top: 85px;
}

#pay-button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 12px;
}

#pay-button:hover {
  background-color: #a5cbcc;
  transition: all 0.3s ease;
}

#wedding-done,
#wedding-running {
  margin: 4rem 0 -4rem 0;
  z-index: 1;
  display: none;
}

.w3-modal {
  z-index: 999 !important;
  background-color: rgba(0, 0, 0, 0.7);
}

.w3-modal-content {
  padding: 15px !important;
  border-radius: 10px;
  max-width: 400px;
}

.font-digital {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: normal;
  color: #575757;
}

span.w3-button.w3-display-topright {
  color: #575757;
}

span.w3-button:hover {
  color: #575757 !important;
  background-color: transparent !important;
}

.choosen-bank {
  align-items: center;
  margin: 2rem 0;
}

.bank-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  letter-spacing: normal;
}

.bank-name {
  font-family: "Forum";
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 16px;
}

.bank-title {
  margin: 5px 0;
  cursor: pointer;
}

.bank-title:hover {
  color: #007bff;
  transition: all 0.3s ease;
}

.background-top {
  width: 100%;
  margin-top: -130px;
}

.text-transform-uppercase {
  text-transform: uppercase !important;
}

.modal-h {
  font-family: "Forum";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.15em;
  color: #575757;
}

.text-modal-center {
  text-align: center;
}

.img-save {
  margin: 2rem 0;
}

.sound-on {
  display: none;
}

.message-value {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #575757;
}

.block-data-message {
  max-height: 600px;
  overflow-y: scroll;
  letter-spacing: normal;
}

.data-message {
  margin: 2rem 0rem;
}

.location-and-present {
  margin: -10px 0px;
}

.last-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.btn-send {
  width: 100%;
  background: #7d9a9b;
  border: 4px solid #7d9a9a;
  border-radius: 10px;
  color: #ffffff;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 700;
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.13));
  cursor: pointer;
}

.btn-send:hover {
  background: #698182;
  border: 4px solid #698182;
  color: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.input-t {
  border: 4px solid #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 12px 20px;
  font-weight: 500;
}

:focus-visible {
  outline: none;
}

.form-data {
  padding: 0 2rem;
  width: 100%;
  text-align: left;
}

.scroll-up-down {
  margin-top: 35px;
  transition: 0.4s;
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/*
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-flicker {
  opacity: 1;
  animation: flickerAnimation 5s infinite;
}
*/

.block-image {
  width: 285px;
  border-radius: 10px;
  padding: 17px;
  background: #f0f8ff45;
  margin: 0 40px;
}

.block-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-detail {
  margin: 2rem 20px;
  border-radius: 10px;
  background: #f0f8ff45;
  width: 90%;
  padding: 30px;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.quran-greeting {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  margin: 1rem 0;
}

.mt-2 {
  margin: 2rem 0;
}

.mt-3 {
  margin: 3rem 0;
}

.title-section {
  font-size: 40px;
  font-weight: 600;
  margin: 3rem 0;
}

.font-basic {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 370px;
  color: #ffffff;
  letter-spacing: normal;
}

.leaves {
  width: 100%;
}

.bride-name {
  font-size: 46px;
  font-weight: 500;
  line-height: 46px;
}

.w-100 {
  width: 100%;
}

.block-profile {
  width: 250px;
  z-index: 2;
}

.profile-instagram-white {
  display: flex;
  justify-content: center;
  align-items: center;
}

.family-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.wedding-name {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.wedding-time {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.wedding-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-title {
  margin: 0.8rem 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.address-section {
  margin: 0.8rem 0;
  line-height: 30px;
}

.location {
  color: #ffffff;
  border-radius: 200px;
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 15px 44px;
}

.location:hover {
  background: #698182;
  color: #ffffff;
  transition: all 0.3s ease;
}

.btn-instagram-white {
  color: #ffffff;
  text-decoration: none;
}

.btn-instagram-white:hover {
  color: #a5cbcc;
  transition: all 0.3s ease;
}

/* Countdown CSS */

.container {
  color: #698182;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 3.5rem;
  padding: 40px 0;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

.number-separator {
  font-size: 30px;
  padding: 55px 0;
}

.countdown-list {
  display: flex;
}

.box-number {
  box-sizing: border-box;
  margin: auto;
  width: 100px;
  height: 100px;
  background: linear-gradient(
    159.44deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.4) 35.72%,
    rgba(255, 255, 255, 0) 91.89%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.wedding-open {
  display: none;
}

#countdown {
  z-index: 1;
  padding-top: 10px;
}

.background-bot {
  width: 100%;
}

.margin-separator {
  margin-top: -120px;
}

.find-instagram {
  width: 352px;
}

.top-location {
  width: 100%;
  z-index: 1;
  margin-top: -50px;
}

.w3-display-topright {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 25px;
  cursor: pointer !important;
}

.specifyColor {
  accent-color: #7d9a9b;
}

/* ALERTS */

/* inspired by Twitter Bootstrap */

#ohsnap {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.alert {
  padding: 15px;
  border: 1px solid #eed3d7;
  border-radius: 10px;
  position: absolute;
  right: 10vh;
  top: 50vh;
  /* Each alert has its own width */
  float: right;
  clear: right;
  background-color: white;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  z-index: 999;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.alert-red {
  color: white;
  background-color: #da4453;
}

.alert-green {
  color: white;
  background-color: #37bc9b;
}

.alert-blue {
  color: white;
  background-color: #4a89dc;
}

.alert-yellow {
  color: white;
  background-color: #f6bb42;
}

.alert-orange {
  color: white;
  background-color: #e9573f;
}

/* RESPONSIVE */

@media only screen and (max-width: 1440px) {
  .wedding-title {
    line-height: 100px;
  }
}

/* Extra large devices (laptops and desktops, 1200px and down) */

@media only screen and (max-width: 1200px) {
  .background-top {
    width: 100%;
    margin-top: -80px;
  }
  .top-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 0px 0px;
    z-index: 2;
  }
  .title-content {
    margin: 1rem 0 1rem 0;
    font-weight: 600;
    line-height: 35px;
    z-index: 1;
  }
  a.save-date {
    width: 311px;
    margin: 2rem 0 2rem 0;
    padding: 21px 0;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15em;
    color: #7d9a9b;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.13));
    text-decoration: none;
    background: #ffffff;
  }
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  li span {
    font-size: 2rem;
    display: block;
    padding: 17px 0;
  }
  .font-countdown {
    font-size: 12px;
  }
  .box-number {
    box-sizing: border-box;
    margin: auto;
    width: 50px;
    height: 50px;
    background: linear-gradient(
      159.44deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0.4) 35.72%,
      rgba(255, 255, 255, 0) 91.89%
    );
    box-shadow: 0px 4px 24px -1px rgb(0 0 0 / 10%);
    border-radius: 10px;
  }
  .number-separator {
    font-size: 10px;
    padding: 30px 0;
  }
  #countdown {
    z-index: 1;
    padding-top: 20px;
  }
  .end-content {
    margin-top: -200px;
    display: flex;
  }
  .background-bot {
    width: 100%;
    margin-top: 40px;
  }
  .content-data {
    margin-top: -195px;
  }
  .font-basic {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 300px;
    color: #ffffff;
    letter-spacing: normal;
  }
  .title-section {
    font-size: 40px;
    font-weight: 600;
    line-height: 80px;
    margin: 1rem 0;
  }
  .continue-with {
    margin: 1rem 0 !important;
  }
  .time-title {
    margin: 0.8rem 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
  .wedding-time {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .img-down {
    margin-top: -65px;
    z-index: -1;
    width: 100%;
  }
  .margin-separator {
    margin-top: -65px;
  }
  .find-instagram {
    width: 352px;
    margin: 3rem 0 2rem 0;
    font-weight: 600;
    line-height: 25px;
    font-size: 14px !important;
  }
}

/* Large devices (tabs, 992px and down) */

@media only screen and (max-width: 992px) {
  .alert {
    padding: 15px;
    border: 1px solid #eed3d7;
    border-radius: 10px;
    position: absolute;
    right: unset;
    top: 50vh;
    /* Each alert has its own width */
    float: right;
    clear: right;
    background-color: white;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
    z-index: 999;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
  }
  .alert-red {
    color: white;
    background-color: #da4453;
  }
  .alert-green {
    color: white;
    background-color: #37bc9b;
  }
  .alert-blue {
    color: white;
    background-color: #4a89dc;
  }
  .alert-yellow {
    color: white;
    background-color: #f6bb42;
  }
  .alert-orange {
    color: white;
    background-color: #e9573f;
  }
  .mobile-separator {
    visibility: hidden;
    display: block;
    width: 100%;
    position: absolute;
  }
  #pay.float {
    display: none;
    top: 9vh;
    right: 30px;
  }
  .desktop-bar {
    display: none;
    position: fixed;
    z-index: 99;
    text-align: center;
    width: auto;
    padding: 0;
    left: auto;
    right: 20px;
    bottom: 35%;
    z-index: 2;
    padding: 10px;
  }
  .wedding-open {
    display: block;
    font-family: "Forum";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    padding: 15px 30px;
    border-radius: 300px;
    color: #575757;
    border: 2px solid #575757;
    background: transparent;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .wedding-open:hover {
    background: #575757;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  .main-img {
    z-index: 2;
  }
  .background-top {
    width: 100%;
    margin-top: -180px;
  }
  .wedding-title {
    margin-bottom: 6rem;
  }
  .modal-h {
    font-family: "Forum";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.15em;
    color: #575757;
    margin: 1rem 0;
  }
  .content-data {
    margin-top: -410px;
  }
  .title-content {
    margin: 1rem 0 1rem 0;
    font-weight: 600;
    line-height: 60px;
    z-index: 1;
  }
  .box-number {
    box-sizing: border-box;
    margin: auto;
    width: 100px;
    height: 100px;
    background: linear-gradient(
      159.44deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0.4) 35.72%,
      rgba(255, 255, 255, 0) 91.89%
    );
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  h1 {
    font-size: unset;
  }
  li {
    font-size: unset;
  }
  li span {
    font-size: 4rem;
    display: block;
    padding: 40px 0;
  }
  .font-countdown {
    font-size: 14px;
  }
  .number-separator {
    font-size: 40px;
    padding: 55px 0;
  }
  #countdown {
    z-index: 1;
    padding-top: 20px;
  }
  .end-content {
    margin-top: -440px;
  }
  .font-basic {
    font-weight: 400;
    line-height: 21px;
    width: 400px;
    color: #ffffff;
    letter-spacing: normal;
  }
  .top-location {
    width: 100%;
    z-index: 1;
    margin-top: 10px;
  }
  .img-down {
    margin-top: -150px;
    z-index: -1;
    width: 100%;
  }
  .title-content {
    margin: 1rem 0 1rem 0;
    font-weight: 600;
    line-height: 30px;
    z-index: 1;
  }
  .leaf-flying {
    display: block;
  }
  a.bar-icon:hover {
    background: #7d9a9b;
  }
  a.save-date:hover {
    background: #ffffff;
    color: #a5cbcc;
  }
  a.btn-white:hover {
    background: #ffffff;
    color: #a5cbcc;
  }
  #pay-button:hover {
    background-color: #ffffff;
  }
  .btn-instagram-white:hover {
    color: #ffffff;
  }
  .btn-send:hover {
    background: #7d9a9b;
    border: 4px solid #7d9a9b;
    color: #ffffff;
  }
}

/* Medium devices (landscape tablets, 768px and down) */

@media only screen and (max-width: 768px) {
  .background-top {
    width: 100%;
    margin-top: -140px;
  }
  .content-data {
    margin-top: -320px;
  }
  .end-content {
    margin-top: -340px;
  }
  .img-down {
    margin-top: -115px;
    z-index: -1;
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .desktop-bar {
    display: none;
    position: fixed;
    width: 100vw;
    padding: 0 20px 20px;
    bottom: 0;
    left: 0;
    z-index: 99;
    text-align: center;
  }
  .wrapper-bar {
    width: auto;
    padding: 0;
  }
  .wrapper-bar ul li {
    display: inline-block;
  }
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
  .end-content {
    margin-top: -220px;
  }
  .wedding-title {
    margin-bottom: 6rem;
  }
  .background-top {
    width: 100%;
    margin-top: -110px;
  }
  .content-data {
    margin-top: -225px;
  }
  #pay.float {
    display: none;
    top: 25vh;
    right: 30px;
  }
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  li span {
    font-size: 2rem;
    display: block;
    padding: 17px 0;
  }
  .font-countdown {
    font-size: 12px;
  }
  .box-number {
    box-sizing: border-box;
    margin: auto;
    width: 50px;
    height: 50px;
    background: linear-gradient(
      159.44deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0.4) 35.72%,
      rgba(255, 255, 255, 0) 91.89%
    );
    box-shadow: 0px 4px 24px -1px rgb(0 0 0 / 10%);
    border-radius: 10px;
  }
  .number-separator {
    font-size: 30px;
    padding: 30px 0;
  }
  #countdown {
    z-index: 1;
    padding-top: 20px;
  }
  .font-basic {
    font-weight: 400;
    line-height: 21px;
    width: 320px;
    color: #ffffff;
    letter-spacing: normal;
  }
  .img-down {
    margin-top: -80px;
    z-index: -1;
    width: 100%;
  }
  .form-data {
    padding: 0 2rem;
    width: 100%;
    text-align: left;
    margin-bottom: -40px;
  }
  .w3-modal-content {
    padding: 15px !important;
    border-radius: 10px;
    width: 400px !important;
    margin: auto;
  }
}

/* Small devices (iphone mini, 430px and down) */

@media only screen and (max-width: 430px) {
  .number-separator {
    font-size: 30px !important;
    padding: 22px 0 !important;
  }
  .wedding-title {
    margin-bottom: 6rem;
  }
  .top-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 0px 0px;
    z-index: 2;
    font-size: 12px;
  }
  .title-content {
    margin: 1rem 0 1rem 0;
    font-weight: 600;
    font-size: 47px;
    line-height: 30px;
    z-index: 1;
  }
  .background-top {
    width: 100%;
    margin-top: -77px;
  }
  .content-data {
    margin-top: -195px;
  }
  .end-content {
    margin-top: -210px;
  }
  .font-basic {
    font-weight: 400;
    line-height: 21px;
    width: 260px;
    color: #ffffff;
    letter-spacing: normal;
  }
  .continue-with {
    margin: 1rem 0 !important;
    font-size: 14px !important;
  }
  .img-down {
    margin-top: -62px;
    z-index: -1;
    width: 100%;
  }
  li {
    display: inline-block;
    font-size: 14px;
    list-style-type: none;
    padding: 0.5em !important;
    text-transform: uppercase;
  }
  .w3-modal-content {
    padding: 11px !important;
    border-radius: 10px;
    width: 350px !important;
    margin: auto;
  }
}
