Kepada Yth.
Bapak/Ibu/Saudara/i
*{{ guest_name|safe }}*

Assalamu'alaikum Warahmatullahi Wabarakatuh,

Tanpa mengurangi rasa hormat, izinkan kami mengundang Bapak/Ibu/Saudara/i sekalian untuk dapat menghadiri acara pernikahan kami:

*{{ view_data.groom.fullname|safe }} & {{ view_data.bride.fullname|safe }}*

Silahkan klik link berikut ini untuk informasi detail acara:
{{ url }}

Merupakan suatu kebahagiaan bagi kami apabila Bapak/Ibu/Saudara/i berkenan hadir dan memberikan do'a restu.

Atas kehadiran dan doa restu yang diberikan, kami ucapkan terima kasih.

Wassalamu'alaikum Warahmatullahi Wabarakatuh.

Hormat kami,
*{{ view_data.groom.nickname|safe }} & {{ view_data.bride.nickname|safe }}*
