{% extends "web/layouts/event-guest/resepsi.njk" %}

{% set useMusic = true %}

{% block cssPath %}{{ base_url }}/build-pg3UKx/app.css{% endblock %}
{% block jsPath %}{{ base_url }}/build-pg3UKx/app.js{% endblock %}