<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Guest</title>
    <meta name="description" content="Create Guest">
    <meta name="theme-color" content="#7d9a9b" />
    <meta property="og:locale" content="id_ID">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Create Guest">
    <meta property="og:description" content="Create Guest">
    <meta property="og:url" content="{{ current_url }}">
    <meta property="og:site_name" content="Create Guest">
    <meta property="og:image" content="{{ base_url }}/{{ thumbnail_image_path }}">
    <meta property="og:image:secure_url" content="{{ base_url }}/{{ thumbnail_image_path }}">
    <meta property="og:image:width" content="661">
    <meta property="og:image:height" content="452">
    <meta property="og:image:alt" content="Create Guest">
    <meta property="og:image:type" content="image/png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Create Guest">
    <meta name="twitter:description" content="Create Guest">
    <meta name="twitter:image" content="{{ base_url }}/{{ thumbnail_image_path }}">
    <link rel="stylesheet" href="{{ base_url }}/build/app.css">
    <link rel="icon" href="{{ base_url }}/{{ icon_path }}" />
  </head>
  <body>
    <div class="layout-cover">
      <div class="wrapper">

        <div class="mobile-separator" style="width: 100%; visibility: visible;">
          <div class="welcome">
            <div id="message-id" class="block-message mt-2">
              <span class="title-section newyork-font font-black">
                {{ title_section }}
              </span>
              <span>
                <a href="{{ index_url }}" class="btn-white text-transform-uppercase" style="display: inline-block; text-align: center;">
                  Daftar Tamu
                </a>
              </span>
              {% for detail in flash.error.details %}
                <div class="alert-red" style="margin: 10px 20px; padding: 5px; border-radius: 5px;">{{ detail.message }}</div>
              {% endfor %}
              {% if flash %}
                <div class="alert-{{ flash.color }}" style="margin: 10px 20px; padding: 5px; border-radius: 5px;">{{ flash.message }}</div>
              {% endif %}
              <form action="{{ action_url }}" method="post" class="form-data font-black">
                {% if http_verb %}
                  <input type="hidden" name="_method" value="{{ http_verb }}">
                {% endif %}
                <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                <div class="w-100">
                  <div class="form-wrap mt-2">
                    <label for="guest_name_text" class="label">
                      <span class="text-transform-uppercase">Nama</span> (wajib diisi)
                    </label>
                    <div class="input-form">
                      <input
                        type="text"
                        class="w-100 input-t"
                        id="guest_name_text"
                        name="guest[name_text]"
                        value="{{ flash.value["guest[name_text]"] if flash.value["guest[name_text]"] else event_guest.guest.name }}" />
                    </div>
                    {% if guests %}
                      <p>atau pilih daftar tamu di bawah ini</p>
                      <div class="input-form">
                        <select
                          class="select2"
                          id="guest_name_select"
                          name="guest[name_select]"
                          style="width: 100%; display: block"
                          data-allow-clear="true"
                          data-placeholder="-- Pilih Salah Satu --"
                          title="Nama" >
                          <option value=""></option>
                          {% for guest in guests %}
                            <option value="{{ guest.name }}" {% if [flash.value["guest[name_select]"], event_guest.guest.name].includes(guest.name) %} selected="selected" {% endif %}>{{ guest.name }} ({{ guest.slug }})</option>
                          {% endfor %}
                        </select>
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-wrap mt-2">
                    <label for="guest_slug" class="label">
                      <span class="text-transform-uppercase">Format URL</span> (opsional)
                    </label>
                    <div class="input-form">
                      <input
                        type="text"
                        class="w-100 input-t"
                        id="guest_slug"
                        name="guest[slug]"
                        value="{{ flash.value["guest[slug]"] if flash.value["guest[slug]"] else event_guest.guest.slug }}" />
                    </div>
                  </div>
                  <div class="form-wrap mt-2">
                    <label for="guest_domicile" class="label text-transform-uppercase">Domisili</label>
                    <div class="input-form">
                      <input
                        type="text"
                        class="w-100 input-t"
                        id="guest_domicile"
                        name="guest[domicile]"
                        value="{{ flash.value["guest[domicile]"] if flash.value["guest[domicile]"] else event_guest.guest.domicile }}" />
                    </div>
                  </div>
                  <div class="form-wrap mt-2">
                    <label for="guest_phone_number" class="label text-transform-uppercase">Nomor Telepon / WhatsApp</label>
                    <div class="input-form">
                      <input
                        type="tel"
                        class="w-100 input-t"
                        id="guest_phone_number"
                        name="guest[phone_number]"
                        value="{{ flash.value["guest[phone_number]"] if flash.value["guest[phone_number]"] else event_guest.guest.phone_number }}" />
                    </div>
                  </div>
                  <div class="form-wrap mt-2">
                    <label for="guest_instagram_url" class="label text-transform-uppercase">Instagram URL</label>
                    <div class="input-form">
                      <input
                        type="tel"
                        class="w-100 input-t"
                        id="guest_instagram_url"
                        name="guest[instagram_url]"
                        value="{{ flash.value["guest[instagram_url]"] if flash.value["guest[instagram_url]"] else event_guest.guest.instagram_url }}" />
                    </div>
                  </div>
                  <div class="form-wrap mt-2">
                    <label for="guest_description" class="label text-transform-uppercase">Keterangan</label>
                    <div class="input-form">
                      <textarea
                        type="text"
                        class="w-100 input-t"
                        id="guest_description"
                        name="guest[description]"
                        rows="8"
                      >{{ flash.value["guest[description]"] if flash.value["guest[description]"] else event_guest.guest.description }}</textarea>
                    </div>
                  </div>
                  <div class="form-wrap mt-2">
                    <label for="event_guest_number_of_attendees" class="label">
                      <span class="text-transform-uppercase">Jumlah Kehadiran</span> (orang)</label>
                    <div class="input-form">
                      <input
                        type="number"
                        class="w-100 input-t"
                        id="event_guest_number_of_attendees"
                        name="event_guest[number_of_attendees]"
                        min="1"
                        step="1"
                        value="{{ flash.value["event_guest[number_of_attendees]"] if flash.value["event_guest[number_of_attendees]"] else event_guest.number_of_attendees }}" />
                    </div>
                  </div>
                  <div class="form-wrap mt-2">
                    <label for="event_guest_use_music" class="label text-transform-uppercase">Menggunakan Musik?</label>
                    <div class="input-form">
                      <div class="wrap-radio">
                        <input
                          type="radio"
                          class="specifyColor"
                          id="event_guest_use_music_yes"
                          name="event_guest[use_music]"
                          value="1"
                          {% if flash.value["event_guest[use_music]"] === "1" or event_guest.view_data.use_music %}checked{% endif %}
                          required />
                        <label for="event_guest_use_music_yes" class="btn-click">Iya</label>
                      </div>
                    </div>
                    <div class="input-form">
                      <div class="wrap-radio">
                        <input
                          type="radio"
                          class="specifyColor"
                          id="event_guest_use_music_no"
                          name="event_guest[use_music]"
                          value="0"
                          {% if flash.value["event_guest[use_music]"] === "1" or not event_guest.view_data.use_music %}checked{% endif %}
                          required />
                        <label for="event_guest_use_music_no" class="btn-click">Tidak</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-wrap mt-2">
                    <label for="event_guest_is_vip" class="label text-transform-uppercase">Tamu VIP?</label>
                    <div class="input-form">
                      <div class="wrap-radio">
                        <input
                          type="radio"
                          class="specifyColor"
                          id="event_guest_is_vip_yes"
                          name="event_guest[is_vip]"
                          value="1"
                          {% if flash.value["event_guest[is_vip]"] === "1" or event_guest.view_data.is_vip %}checked{% endif %}
                          required />
                        <label for="event_guest_is_vip_yes" class="btn-click">Iya</label>
                      </div>
                    </div>
                    <div class="input-form">
                      <div class="wrap-radio">
                        <input
                          type="radio"
                          class="specifyColor"
                          id="event_guest_is_vip_no"
                          name="event_guest[is_vip]"
                          value="0"
                          {% if flash.value["event_guest[is_vip]"] === "0" or not event_guest.view_data.is_vip %}checked{% endif %}
                          required />
                        <label for="event_guest_is_vip_no" class="btn-click">Tidak</label>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn-send">
                    <span class="button__text text-transform-uppercase">Simpan</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ base_url }}/build/jquery.min.js"></script>
    <script src="{{ base_url }}/build/select2.min.js"></script>
    <script>
      $(function () {
        $(".select2").select2();
      });
    </script>
  </body>
</html>