{% extends "web/layouts/index.njk" %}
{% set title = "Guest List" %}

{% block content %}
  <div class="mobile-separator" style="width: 100%; visibility: visible;">
    <div class="welcome">
      <div id="message-id" class="block-message mt-2">
        <span class="title-section newyork-font font-black">
          Daftar Tamu
        </span>
        <span>
          <a href="{{ create_url }}" class="btn-white text-transform-uppercase" style="display: inline-block; text-align: center;">
            Buat Tamu
          </a>
        </span>
        {% for detail in flash.error.details %}
          <div class="alert-red" style="margin: 10px 20px; padding: 5px; border-radius: 5px;">{{ detail.message }}</div>
        {% endfor %}
        {% if flash %}
          <div class="alert-{{ flash.color }}" style="margin: 10px 20px; padding: 5px; border-radius: 5px;">{{ flash.message }}</div>
        {% endif %}
        <form action="{{ index_url }}" method="get" class="form-data font-black">
          <div class="w-100">
            <div class="form-wrap mt-2">
              <div class="input-form">
                <input
                  type="text"
                  class="w-100 input-t"
                  id="search"
                  name="search"
                  placeholder="Cari"
                  value="{{ search }}" />
              </div>
            </div>
          </div>
          <button type="submit" class="btn-send">
            <span class="button__text text-transform-uppercase" style="display: inline-block;">Cari</span>
          </button>
          <a href="{{ index_url }}" class="btn-white text-transform-uppercase" style="display: block; text-align: center; letter-spacing: 0;">
            Reset Pencarian
          </a>
        </form>
        <div class="form-data font-black" style="margin-top: 10px;">
          <div id="block-message" class="block-data-message mt-3">
            {% for event_guest in event_guests %}
              <div class="data-message">
                <div class="name-message mt-1">
                  <p class="dancing-font" style="font-size: 22px;">{{ event_guest.guest.name }}</p>
                  <p>
                    Link Undangan: <a href="{{ event_guest.url }}" target="_blank">{{ event_guest.url }}</a>
                  </p>
                  <p>
                    Link Whatsapp: <a href="{{ event_guest.whatsapp_message_url }}" target="_blank">{{ event_guest.whatsapp_message_url }}</a>
                  </p>
                  <p>
                    Isi Pesan: <a href="{{ event_guest.text_message_url }}" target="_blank">{{ event_guest.text_message_url }}</a>
                  </p>
                  <p>Lokasi: {{ event_guest.guest.domicile }}</p>
                  <p>Menggunakan Musik: {% if event_guest.use_music %}
                      <span style="background-color: #159a00; color: #ffffff; border-radius: 5px; padding: 5px;">Iya</span>
                    {% else %}
                      <span style="background-color: #c80000; color: #ffffff; border-radius: 5px; padding: 5px;">Tidak</span>
                    {% endif %}
                  </p>
                  <p>Tamu VIP: {% if event_guest.is_vip %}
                      <span style="background-color: #159a00; color: #ffffff; border-radius: 5px; padding: 5px;">Iya</span>
                    {% else %}
                      <span style="background-color: #c80000; color: #ffffff; border-radius: 5px; padding: 5px;">Tidak</span>
                    {% endif %}
                  </p>
                  <p>Nomor Telepon: {% if event_guest.guest.phone_number %}
                      <a href="{{ event_guest.guest.whatsapp_phone_number_url }}" target="_blank">{{ event_guest.guest.phone_number }}</a>
                    {% else %} - {% endif %}
                  </p>
                  <p>Keterangan: {% if event_guest.guest.description %}
                      {{ event_guest.guest.description }}
                    {% else %} - {% endif %}
                  </p>
                  <p>Jumlah Kehadiran: {% if event_guest.number_of_attendees %}
                      {{ event_guest.number_of_attendees }}
                    {% else %} - {% endif %} orang
                  </p>
                </div>
                <div class="location-and-present">
                  <a href="{{ event_guest.edit_url }}" class="btn-white" style="text-align: center; letter-spacing: 0;">
                    Edit Data
                  </a>
                  <form action="{{ event_guest.destroy_url }}" method="post" onsubmit="return confirm('Apa anda yakin ingin menghapus {{ event_guest.guest.name }}?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                    <button type="submit" class="btn-send">
                      Hapus Data
                    </button>
                  </form>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% import "web/components/pagination.njk" as Pagination %}
        {{ Pagination.button(pagination) }}
        {{ Pagination.information(pagination) }}
      </div>
    </div>
  </div>
{% endblock content %}